<html>
<head>
<link rel='stylesheet' href={{ url_for('static', filename='style.css') }}>
<script src={{ url_for('static', filename='socket.io.js') }}></script>
</head>
<body>
	<div >
		<div class='chat-container'></div>
		<textarea class='chatbox'></textarea>
	</div>
</body>
<script>
	var socket = io()
	var chat_container = document.getElementsByClassName('chat-container')[0]
	var chatbox = document.getElementsByClassName('chatbox')[0]
	var shift_down = false
	var H_SCROLL_LIM = 0.1
	var H_REQ_NUM = 100
	var n = 0
	var MSG_LEN_LIM = 1500

	function make_msg(msg) {
		let d = document.createElement('div')
		d.setAttribute('class', 'chat')
		d.append(msg)
		return d
	}
	function load_history(data) {
		let msgs = data['messages']
		for (i in msgs) {
			let msg = msgs[i]
			let d = make_msg(`${msg[1]}: ${msg[0]}`)
			chat_container.insertBefore(d, chat_container.firstChild)
		}
	}
	function scroll_down() {
		chat_container.scrollTop = chat_container.scrollHeight - chat_container.clientHeight
	}
	function check_scroll() {
		let t = chat_container
		let sval = t.scrollHeight - t.clientHeight - t.scrollTop
		let range = 2
		if (sval >= -range && sval <= range) {return true}
		return false
	}
	function receivemsg(msg) {
		let d = make_msg(msg['message'])
		let scroll = check_scroll()
		chat_container.append(d)
		n += 1
		if (scroll) {scroll_down()}
		else {chat_container.style.border = '1px solid green'}
	}
	function sendmsg() {
		let msg = chatbox.value
		if (msg == '') {return}
		chatbox.value = ''; fit()
		socket.emit('chatmsg', {message: msg})
	}
	function login(data) {
		let d = make_msg(data['message'])
		chat_container.append(d)
		scroll_down()
	}
	function fit() {
		chatbox.style.height = ''
		h = chatbox.scrollHeight + 5 + 'px' 
		chatbox.style.height = h
		if (chatbox.value.length > MSG_LEN_LIM) {chatbox.value = chatbox.value.slice(0, MSG_LEN_LIM)}
	}
	function redirect(data) {
		console.log(data)
		location.href = data['url']
	}
	socket.on('login', login)
	socket.on('redirect', redirect)
	socket.on('receive_history', load_history)
	socket.emit('join', {room: 'chat'})
	chatbox.addEventListener('keydown', function (k) {
		if (k.key == 'Enter' && !k.shiftKey) {k.preventDefault(); sendmsg()}
	});
	chatbox.addEventListener('input', function (e) {fit()})
	socket.on('receivemsg', receivemsg)
	chat_container.addEventListener('scroll', function (e) {
		if (check_scroll()) {chat_container.style.border = '1px solid white'}
		if (chat_container.scrollTop == 0) {
			socket.emit('request_history', {'n' : n, 'req_num' : H_REQ_NUM})
			chat_container.scrollTop = 1
			n += H_REQ_NUM
		}
	});
	fit()
</script>
</html>
