<html>
<head>
<link rel='stylesheet' href={{ url_for('static', filename='style.css') }}>
<script src={{ url_for('static', filename='socket.io.js') }}></script>
</head>
<body>
	<div class='chat-container'>
	</div>
	<textarea class='chatbox'></textarea>
</body>
<script>
	var socket = io()
	var credentials = {}
	var chat_container = document.getElementsByClassName('chat-container')[0]
	var chatbox = document.getElementsByClassName('chatbox')[0]
	var shift_down = false
	function check_scroll() {
		let t = chat_container
		let sval = t.scrollHeight - t.clientHeight - t.scrollTop
		let range = 2
		if (sval >= -range && sval <= range) {return true}
		return false
	}
	function receivemsg(msg) {
		let d = document.createElement('div')
		d.setAttribute('class', 'chat')
		d.append(msg)
		let scroll = check_scroll()
		chat_container.append(d)
		if (scroll) {
			chat_container.scrollTop = chat_container.scrollHeight - chat_container.clientHeight
		}
		else {chat_container.style.border = '1px solid green'}
	}
	function sendmsg() {
		let msg = chatbox.value
		if (msg == '') {return}
		chatbox.value = ''
		socket.emit('chatmsg', {token: credentials.token, message: msg})
	}
	function login(data) {
		credentials.token = data.token
		credentials.user = data.user
		receivemsg(data.message)
	}
	function fit() {
		chatbox.style.height = ''
		chatbox.style.height = chatbox.scrollHeight + 5 + 'px'
	}
	socket.on('login', login)
	socket.emit('join', {user: 'guest', room: 'chat'})
	chatbox.addEventListener('keydown', function (k) {
		if (k.key == 'Enter' && !k.shiftKey) {k.preventDefault(); sendmsg()}
	});
	chatbox.addEventListener('input', function (e) {fit()})
	socket.on('receivemsg', receivemsg)
	chat_container.addEventListener('scroll', function (e) {
			if (check_scroll()) {chat_container.style.border = '1px solid white'}
	});
	fit()
</script>
</html>
