<html>
<head>
<link rel='stylesheet' href={{ url_for('static', filename='style.css') }}>
</head>
<body>
	<div class='flex-container'>
		<p1>This site logs:<br>
			 * IPv4 addresses which are associated with UUIDs<br>
			 * Accounts which are associated with UUIDs and IPs<br>
			 * Messages which are associated with accounts<br><br></p1>
			 It is recommended to use a VPN when creating an account.<br>
			 IPs are only logged at account creation, so sending messages<br>
			 or logging into an account will not be associated with your IP. 
	</div>
</body>
</html>
